network:
  version: 2
  ethernets:
    ${if_name_main}:
      dhcp4: true
    ${if_name_second}:
      dhcp4: false
      addresses:
        - ${ip4_second}
      nameservers:
        addresses: [${avi_dns_vs}]